BeginningXML/Code Download/5598_chapter05_DTDs/al.dtd

<!ELEMENT catalog (CD)>
<!ELEMENT CD (artist, title, genre, date-released, song, song)>
<!ELEMENT artist (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT date-released (#PCDATA)>
<!ELEMENT song (title, length, parody)>
<!ELEMENT length (minutes, seconds)>
<!ELEMENT minutes (#PCDATA)>
<!ELEMENT seconds (#PCDATA)>
<!ELEMENT parody (title, artist)>
